In [43]:
import warnings
warnings.filterwarnings('ignore')

In [57]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
df = pd.read_csv('C:/Users/ShatheepR/Desktop/TMT/ACS_MCOR2.REVENUE_MASTER_PY1_FINAL.csv',error_bad_lines=False,engine='python')#, nrows = 11856,   , sep ='\t', encoding='utf-8'
#Printing head
df.head(3)
#df.count()

   YEAR   MONTH  GEO_LEVEL_1             GEO_LEVEL_2  GB_GC_CN            GB_GC_CN_NAME  COVERAGE_TYPE  COVERAGE_CLIENT_TYPE_DSCR  COVERAGE_CLIENT_SUB_TYPE_DSCR                    BUSINESS_GROUP  ...  UT_LVL_15_CD  UT_LVL_15_DSCR  UT_LVL_17_CD  UT_LVL_17_DSCR  UT_LVL_20_CD  UT_LVL_20_DSCR  UT_LVL_30_CD  UT_LVL_30_DSCR                           IND_NAME  REVENUE
0  2020       6          NaN                     NaN  06101438                      NaN              A                        NaN                            NaN                        SYSTEMS HW  ...           NaN             NaN           NaN             NaN           NaN             NaN           NaN             NaN                                NaN    -3.76
1  2020       6         EMEA  Central/Eastern Europe  GCHYTMB2              FORMUS, OOO              T                        NaN                            NaN  GLOBAL TECHNOLOGY SERVICES GROUP  ...           NaN             NaN           NaN             NaN           NaN             NaN           NaN             NaN  Wholesale Distribution & Services  1583.80
2  2020       4         EMEA      Middle East/Africa  GB0019CB  TURKIYE IS BANKASI A.S.              T                  Segment 2                      Segment 2        CLOUD & COGNITIVE SOFTWARE  ...           NaN             NaN           NaN             NaN           NaN             NaN           NaN             NaN                          Insurance  2755.75

[3 rows x 25 columns]

In [74]:
#!pip install ibm_db
import ibm_db
from ibm_db import connect
# Careful with the punctuation here - we have 3 arguments. The first is a big string with semicolons in it.
# (Strings separated by only whitespace, newlines included, are automatically joined together, in case you didn't know.)
# This code WORKS WELL
#connection = connect("DATABASE = cmdp;HOSTNAME = g42-a-cmdpprod1.az2.ash.cpc.ibm.com; PORT = 51000; SECURITY = SSL; SSLClientKeyStoreDB = C:\db2_ssl\MPW_CLIENT.jks; SSLClientKeyStoreDBPassword = mightyStrongPa5!w0Rd; UID=manikanp;PWD = h7iH5hfXgNDzKgOs;", '', '') #PROTOCOL = TCPIP; 
ibm_db.connect('MARSRAW', 'manikanp', 'zG3|gBJXVJuFvX-9')

 SQLCODE=-1531

In [51]:
# Use 3 decimal places in output display
pd.set_option("display.precision", 3)
# Don't wrap repr(DataFrame) across additional lines
pd.set_option("display.expand_frame_repr", False)
# Set max rows displayed in output to 25
pd.set_option("display.max_rows", 25)

In [55]:
#print(df['REVENUE'].sum())
#print(df['YEAR'].count())
#print(display(df.head(3)))
#print(df['UT_LVL_10_DSCR'].unique())

In [23]:
#grouped = df.groupby("UT_10")
#print(grouped)
n_by_ut10 = df.groupby(["UT_10"], as_index=False, sort=True)["REVENUE"].agg('sum') #.sum()
#print(n_by_ut10.shape)
print(n_by_ut10)

                    UT_10    REVENUE
0   Cloud & Data Platform  55746.334
1  Cognitive Applications   7006.671
2      Industry Platforms   1247.220
3                Security   7406.695
4           Systems w/TPS  85337.073
5           Watson Health   3787.223

In [26]:
export = df.groupby(['GB_GC_CN','UT_10'],as_index = False)["REVENUE"].sum().pivot('GB_GC_CN','UT_10').fillna(0)

In [28]:
export.to_excel('C:/Users/ShatheepR/Desktop/export.xlsx', index = True)

In [16]:
import pandas as pd
#pd.options.display.max_colwidth = 0
pd.options.display.max_columns = None
#pd.options.display.width=None
df = pd.read_excel(r'C:\Users\ShatheepR\Desktop\DATA.xlsx')
df

,CONVERTED,JOB_ROLE,OMT_GRP,TRN_RESP_SCORE,CLIENT_SEGMENT,JOB_ROLE_GROUP
0,YES,Chief Executive Officer - CEO,WW,100,Segment 1,Remove
1,NO,Chief Technology Officer - CTO,WW,20,Segment 2,Decision Makers
2,YES,UNASSIGNED,WW,20,Segment 1,UNASSIGNED
3,NO,Security Management - IT,WW,20,Segment 2,Secondary
4,YES,Strategy & Data Enterprise Architecture,WW,90,Segment 1,Primary
...,...,...,...,...,...,...
762,NO,Data & Content Administration - IT,AP,20,Segment 2,Secondary
763,NO,UNASSIGNED,AP,20,Segment 1,UNASSIGNED
764,YES,Data & Content Administration - IT,AP,20,Segment 2,Secondary
765,NO,UNASSIGNED,AP,20,Segment 2,UNASSIGNED
766,NO,UNASSIGNED,AP,20,Segment 2,UNASSIGNED

In [7]:
import plotly.graph_objects as go
fig = go.Figure()
fig.add_trace(go.Scatter(y=[2, 1, 4, 3]))
fig.add_trace(go.Bar(y=[1, 4, 3, 2]))
fig.update_layout(title = 'Hello Figure')
fig.show()

ModuleNotFoundError: No module named 'plotly.graph_objects'